.form-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 900px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.form-grid input,
.form-grid select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.btn-save {
  margin-top: 20px;
  padding: 12px 18px;
  background: #00703c;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.btn-save:hover {
  background: #005a30;
}
